.confirm-btn {
  background-color: #4287f5;
}

.confirm-btn:hover {
  background-color: #3899ff;
}

.cancel-btn {
  background-color: gray;
}

.cancel-btn:hover {
  background-color: darkgray;
}

.menu-btn {
  background-color: orange;
}

.menu-btn:hover {
  background-color: #ff9808;
}

.danger-btn {
  background-color: #d92b2b;
}

.danger-btn:hover {
  background-color: #f22e2e;
}

.neutral-btn {
  background-color: #25b32d;
}

.neutral-btn:hover {
  background-color: #2bd934;
}
