.button {
  padding: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: bold;
  margin: 10px;
  background-color: #20243b;
  transition: all 0.1s ease-out;

  &:hover {
    cursor: pointer;
    filter: brightness(1.2);
  }
}

.confirm-btn {
  color: #20243b;
  background-color: #d49f3d;
}

.cancel-btn {
  color: white;
  background-color: gray;
}

.menu-btn {
  color: white;
  width: 300px;

  &:hover {
    border:1px solid #d49f3d;
  }
}
