.button {
  padding: 20px;
  border-radius: 14px;
  border: 0px solid transparent;
  font-weight: bold;
  margin: 10px;
}

.confirm-btn {
  color: white;
  background-color: #1155c2;
}
.cancel-btn {
  color: white;
  background-color: gray;
}

.menu-btn {
  color: white;
  background-color: #ad456c;
  width: 200px;
}
