<app-notification />
<app-page-bg-small>
  <h1 class="text-black font-bold text-4xl m-4 fancy-font">JOIN GAME</h1>
  <div class="flex flex-col">
    <form [formGroup]="joinForm">
      <app-form-input formControlName="passcode" placeholder="Host passcode..." />
      <app-form-input placeholder='Pick a name...' formControlName="name" />
    </form>
  </div>
  <div class="flex flex-col">
    <app-button class="min-h-12 my-1" [btnType]='submitBtnType' [btnLabel]='submitBtnLabel' (click)='handleJoin()' />
    <app-button class="min-h-12 my-1" [btnType]='cancelBtnType' [btnLabel]='cancelBtnLabel' (click)='handleCancel()' />
  </div>
</app-page-bg-small>
