<app-notification #error />
<app-notification #success type="success" />
<app-page-bg-small>
  <h1 class="text-black font-bold text-4xl m-10">SIGN UP</h1>
  <div class="flex flex-col">
    <form [formGroup]="registerForm">
      <app-form-input placeholder='Username' formControlName="username" />
      <app-form-input placeholder='Password' type='password' formControlName="password" />
      <app-form-input placeholder='Confirm password' type='password' formControlName="confirmPassword" />
    </form>
  </div>
  <div class="flex flex-col">
    <app-button class="min-h-12 my-1" [btnType]='submitBtnType' [btnLabel]='submitBtnLabel' (click)='submitForm()' />
    <app-button class="min-h-12 my-1" [btnType]='cancelBtnType' [btnLabel]='cancelBtnLabel'
      (click)='handleCancelClick()' />
  </div>
</app-page-bg-small>
