<app-page-bg>
  <div class="overflow-y-scroll h-full">
    <p class="text-2xl font-bold">PASSCODE: {{this.passcode}}</p>
    <div class="mt-8">
      <div class="text-black text-left font-bold text-xl m-1">Joined players:</div>
    </div>
    <app-leaderboard [players]="players" />
  </div>
  <div class="flex justify-center h-16 mt-auto p-1">
    <div class="w-20">
      <app-button [btnType]="cancelBtnType" [btnLabel]="cancelBtnLabel" (click)="cancelBtnClick()" />
    </div>
    <div class="w-20 ml-2">
      <app-button [btnType]="startBtnType" [btnLabel]="startBtnLabel" (click)="startBtnClick()" />
    </div>
  </div>
</app-page-bg>
