.form-input {
  padding: 10px;
  margin: 5px 0px 5px 0px;
  width: 100%;
  box-sizing: border-box;
  background-color: #20243b;
  color: white;
  border: 1px solid transparent;
  border-radius: 4px;
}
