<app-notification />
<app-page-bg-small>
  <h1 class="text-black font-bold text-4xl m-10 fancy-font">LOG IN</h1>
  <div class="flex flex-col">
    <form [formGroup]="loginForm">
      <app-form-input formControlName="username" placeholder='Username' />
      <app-form-input formControlName="password" placeholder='Password' type="password" />
    </form>
  </div>
  <div class="flex flex-col">
    <app-button class="min-h-12 my-1" [btnType]='submitBtnType' [btnLabel]='submitBtnLabel' (click)='submitForm()' />
    <app-button class="min-h-12 my-1" [btnType]='cancelBtnType' [btnLabel]='cancelBtnLabel'
      (click)='handleCancelClick()' />
  </div>
</app-page-bg-small>
